# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.spider
.ipynb_checkpoints

# Firebase
.firebase/
firebase-debug.log
ui-debug.log
pc-debug.log

# Node/Frontend
node_modules/
dist/
frontend/dist/
.DS_Store
frontend/.env
.env
.env.local

# Tools & Temp
tools/
temp/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
